In [ ]:
pip install findspark

In [ ]:
pip install requests

In [1]:
import json
import requests
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession

from pyspark.sql.functions import concat, concat_ws, col, initcap, lower, substring, lit

In [2]:
spark = SparkSession.builder.master("local[*]").appName('CreditCardData').getOrCreate()

In [9]:
from pyspark.sql.types import StructType,StructField, StringType,IntegerType,BooleanType,DoubleType,LongType

In [12]:
cust_df = spark.read.json('Credit Card Dataset\cdw_sapp_custmer.json')
cust_df.printSchema() #print original schema for the Dataframe



cust_df.createOrReplaceTempView('CDW_SAPP_CUSTOMER') #create a temp view of the customer table

new_cust_df = spark.sql('SELECT CONCAT(CDW_SAPP_CUSTOMER.STREET_NAME,",",CDW_SAPP_CUSTOMER.APT_NO) as STREET_NAME_APT_NO, lower(CDW_SAPP_CUSTOMER.MIDDLE_NAME) as middle_name,  concat("(", substring(CDW_SAPP_CUSTOMER.CUST_PHONE, 1, 3), ")",\
               substring(CDW_SAPP_CUSTOMER.CUST_PHONE, 4, 3), "-",\
               substring(CDW_SAPP_CUSTOMER.CUST_PHONE, 7, 4), "000") AS FORMAT_CUST_PHONE FROM CDW_SAPP_CUSTOMER ')

new_cust_df.show(100) #query concatenates the street name and apt no, lower case for middle name, and reformats the customer phone

#cust_df.show(100)
type(cust_df.dtypes)

root
 |-- APT_NO: string (nullable = true)
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- CUST_CITY: string (nullable = true)
 |-- CUST_COUNTRY: string (nullable = true)
 |-- CUST_EMAIL: string (nullable = true)
 |-- CUST_PHONE: long (nullable = true)
 |-- CUST_STATE: string (nullable = true)
 |-- CUST_ZIP: string (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)
 |-- MIDDLE_NAME: string (nullable = true)
 |-- SSN: long (nullable = true)
 |-- STREET_NAME: string (nullable = true)

+--------------------+-----------+-----------------+
|  STREET_NAME_APT_NO|middle_name|FORMAT_CUST_PHONE|
+--------------------+-----------+-----------------+
|Main Street North...|         wm|    (123)781-8000|
|   Redwood Drive,829|    brendan|    (123)893-3000|
|12th Street East,683|   ezequiel|    (124)301-8000|
|Country Club Road...|      trina|    (124)321-5000|
|  Madison Street,301|        may|    (124)207-4000|
|    Colonial Drive,3|    ambrose|    (124)257-0000|
|   Belmont Avenue,84|      larry|    (123)968-5000|
|    Oxford Court,728|        ora|    (123)821-3000|
|    Forest Street,81|     tracie|    (124)068-9000|
|    Court Street,561|    mitchel|    (123)522-2000|
|   Cypress Court,622|      denny|    (124)136-3000|
| 8th Street West,924|   isabelle|    (123)622-8000|
|     East Avenue,611|      henry|    (123)816-5000|
|        Route 44,680|     rickey|    (123)473-0000|
|    Warren Street,71|  heriberto|    (124)211-3000|
|    Jones Street,195|   angelita|    (123)988-8000|
|      New Street,500|   dorothea|    (124)015-8000|
| Division Street,989|  jefferson|    (124)140-8000|
|    Maple Street,810|     maximo|    (123)839-0000|
|      Eagle Road,649|    arnulfo|    (123)506-7000|
|   George Street,298|     ramiro|    (124)000-1000|
|  Cottage Street,761|    nanette|    (124)131-2000|
| 2nd Street East,242|   isabella|    (123)551-1000|
|     Winding Way,133|      edith|    (123)731-7000|
|  Lincoln Street,147|    jacklyn|    (124)077-7000|
|    Grant Avenue,860|      lorna|    (123)986-3000|
|     Penn Street,743|     debora|    (124)190-9000|
|   School Street,644|      tomas|    (124)081-7000|
|   Madison Court,760|   carolina|    (123)712-6000|
|      New Street,599|    shannon|    (124)126-8000|
|     Durham Road,147|     austin|    (123)607-7000|
|     Maiden Lane,740|     lorrie|    (123)698-9000|
|  Edgewood Drive,214|       phil|    (123)977-4000|
| Riverside Drive,111|      britt|    (123)656-1000|
|   School Street,850|    chasity|    (123)729-0000|
|       Fawn Lane,824|    mildred|    (124)121-3000|
| Hillcrest Drive,475|        ted|    (124)033-9000|
| Marshall Street,404|    gonzalo|    (124)317-3000|
|   Hamilton Road,413|     harvey|    (123)946-7000|
|   Edgewood Road,563|     andrew|    (124)037-7000|
|Jefferson Street,340|     corina|    (123)623-7000|
|4th Street South,105|       oren|    (123)926-8000|
|   Fairway Drive,411|      cathy|    (124)033-4000|
|        Route 29,182|    raleigh|    (123)821-2000|
|Fieldstone Drive,158|      scott|    (123)770-6000|
|  Woodland Drive,618|     santos|    (124)180-1000|
| Briarwood Court,610|   jennifer|    (123)907-9000|
|    Grant Street,472|    rosario|    (123)508-0000|
| Columbia Street,448|     leonor|    (124)297-4000|
|      3rd Street,605|   laurence|    (123)896-4000|
|     Broad Street,84|       erin|    (123)578-4000|
|    Myrtle Avenue,44|      brain|    (124)202-4000|
|     Lake Avenue,471|     antone|    (123)652-8000|
|      Eagle Road,398|   mercedes|    (123)537-7000|
|   School Street,791|       aida|    (123)805-5000|
|Westminster Drive...|    beatriz|    (123)464-8000|
| Crescent Street,501|       jame|    (123)875-9000|
|Lafayette Street,847|      aimee|    (124)121-4000|
|     Aspen Court,249|     marion|    (123)842-6000|
|   Laurel Street,235|    annette|    (124)049-0000|
|         Route 4,936|     dionne|    (123)574-2000|
|   Poplar Street,953|     doreen|    (123)802-3000|
|    Jones Street,811|    thurman|    (124)272-1000|
|   Parker Street,757|     angelo|    (123)666-6000|
|   Dogwood Drive,888|    leonard|    (123)656-7000|
|  Orchard Street,627|    refugio|    (123)708-7000|
|  Central Avenue,635|      bette|    (123)468-9000|
|   Bridge Street,660|    coleman|    (123)563-2000|
|   Summer Street,265|     alissa|    (123)562-5000|
|Washington Street...|        may|    (124)192-5000|
|  Lincoln Street,417|    donnell|    (123)688-6000|
| Hamilton Street,414|     manual|    (124)159-6000|
|    Pearl Street,177|     millie|    (123)704-6000|
|   Myrtle Street,697|     deanne|    (124)187-0000|
| Virginia Street,701|    claudia|    (123)780-9000|
|    Jones Street,122|    rodrick|    (123)505-5000|
|Hillcrest Avenue,496|       alan|    (124)012-6000|
|      2nd Avenue,662|        lee|    (124)295-3000|
|     West Street,226|    desiree|    (123)870-7000|
|   Summer Street,793|      ronny|    (124)188-4000|
| Franklin Avenue,365|    marcelo|    (123)671-0000|
| Harrison Avenue,193|   porfirio|    (124)178-8000|
| Highland Avenue,202|     anibal|    (124)162-7000|
|     Heather Lane,34|    herbert|    (123)641-3000|
|Washington Avenue,66|   beatrice|    (123)978-6000|
|     Winding Way,389| bernadette|    (124)330-9000|
|    Laurel Drive,529|       lucy|    (123)848-4000|
| 3rd Street East,293|   emmanuel|    (124)257-1000|
|     Wall Street,197|     prince|    (123)768-0000|
| Glenwood Avenue,831|  granville|    (123)729-4000|
|   Willow Street,862|   eldridge|    (123)948-6000|
|   Sunset Avenue,310|     sylvia|    (123)581-0000|
|    Maple Avenue,267|   valentin|    (123)749-9000|
|   Edgewood Road,830|        iva|    (124)330-2000|
| Harrison Avenue,736|     kelsey|    (124)099-2000|
| Strawberry Lane,298|  cornelius|    (123)760-3000|
| Briarwood Court,138|   kathrine|    (124)279-3000|
|       Ivy Court,429|    jocelyn|    (123)913-7000|
| Sheffield Drive,508|    nanette|    (124)128-1000|
|Broad Street West...|      lorna|    (124)024-8000|
+--------------------+-----------+-----------------+
only showing top 100 rows

list

In [13]:
schema = StructType([
    StructField('APT_NO', StringType(), True),
    StructField('CREDIT_CARD_NO',StringType(),True),
    StructField('CUST_CITY',StringType(),True),
    StructField('CUST_COUNTRY',StringType(),True),
    StructField('CUST_EMAIL',StringType(),True),
    StructField('CUST_PHONE',StringType(),True),
    StructField('CUST_STATE',StringType(),True),
    StructField('CUST_ZIP',StringType(),True),
    StructField('FIRST_NAME', StringType(),True),
    StructField('LAST_NAME',StringType(), True),
    StructField('LAST_UPDATED', StringType(),True),
    StructField('MIDDLE_NAME', StringType(),True),
    StructField('SSN', LongType(), True),
    StructField('STREET_NAME',StringType(),True),
])

df_with_schema = spark.read.schema(schema).json('Credit Card Dataset\cdw_sapp_custmer.json')
df_with_schema.createOrReplaceTempView('CDW_SAPP_CUSTOMER') #create a temp view of the customer table

new_df_with_schema = spark.sql('SELECT *,CONCAT(CDW_SAPP_CUSTOMER.STREET_NAME,", ",CDW_SAPP_CUSTOMER.APT_NO) as Full_address, lower(CDW_SAPP_CUSTOMER.MIDDLE_NAME) as middle_name,  concat("(", substring(CDW_SAPP_CUSTOMER.CUST_PHONE, 1, 3), ")",\
                substring(CDW_SAPP_CUSTOMER.CUST_PHONE, 4, 3), "-",\
                substring(CDW_SAPP_CUSTOMER.CUST_PHONE, 7, 4), "000") AS FORMAT_CUST_PHONE FROM CDW_SAPP_CUSTOMER ')
new_df_with_schema.show(100) #query concatenates the street name and apt no, lower case for middle name, and reformats the customer phone

#df_with_schema.printSchema()
#df_with_schema.show(100)

+------+----------------+-----------------+-------------+--------------------+----------+----------+--------+----------+----------+--------------------+-----------+---------+-----------------+--------------------+-----------+-----------------+
|APT_NO|  CREDIT_CARD_NO|        CUST_CITY| CUST_COUNTRY|          CUST_EMAIL|CUST_PHONE|CUST_STATE|CUST_ZIP|FIRST_NAME| LAST_NAME|        LAST_UPDATED|MIDDLE_NAME|      SSN|      STREET_NAME|        Full_address|middle_name|FORMAT_CUST_PHONE|
+------+----------------+-----------------+-------------+--------------------+----------+----------+--------+----------+----------+--------------------+-----------+---------+-----------------+--------------------+-----------+-----------------+
|   656|4210653310061055|          Natchez|United States| AHooper@example.com|   1237818|        MS|   39120|      Alec|    Hooper|2018-04-21T12:49:...|         Wm|123456100|Main Street North|Main Street North...|         wm|    (123)781-8000|
|   829|4210653310102868|     Wethersfield|United States| EHolman@example.com|   1238933|        CT|   06109|      Etta|    Holman|2018-04-21T12:49:...|    Brendan|123453023|    Redwood Drive|  Redwood Drive, 829|    brendan|    (123)893-3000|
|   683|4210653310116272|          Huntley|United States| WDunham@example.com|   1243018|        IL|   60142|    Wilber|    Dunham|2018-04-21T12:49:...|   Ezequiel|123454487| 12th Street East|12th Street East,...|   ezequiel|    (124)301-8000|
|   253|4210653310195948|        NewBerlin|United States|  EHardy@example.com|   1243215|        WI|   53151|   Eugenio|     Hardy|2018-04-21T12:49:...|      Trina|123459758|Country Club Road|Country Club Road...|      trina|    (124)321-5000|
|   301|4210653310356919|           ElPaso|United States|  WAyers@example.com|   1242074|        TX|   79930|   Wilfred|     Ayers|2018-04-21T12:49:...|        May|123454431|   Madison Street| Madison Street, 301|        may|    (124)207-4000|
|     3|4210653310395982|     NorthOlmsted|United States|BWoodard@example.com|   1242570|        OH|   44070|      Beau|   Woodard|2018-04-21T12:49:...|    Ambrose|123454202|   Colonial Drive|   Colonial Drive, 3|    ambrose|    (124)257-0000|
|    84|4210653310400536|           Vienna|United States|   SKemp@example.com|   1239685|        VA|   22180|    Sheila|      Kemp|2018-04-21T12:49:...|      Larry|123451799|   Belmont Avenue|  Belmont Avenue, 84|      larry|    (123)968-5000|
|   728|4210653310459911|           Duarte|United States| WHurley@example.com|   1238213|        CA|   91010|     Wendy|    Hurley|2018-04-21T12:49:...|        Ora|123453875|     Oxford Court|   Oxford Court, 728|        ora|    (123)821-3000|
|    81|4210653310773972|           Owosso|United States|AGilmore@example.com|   1240689|        MI|   48867|      Alec|   Gilmore|2018-04-21T12:49:...|     Tracie|123457511|    Forest Street|   Forest Street, 81|     tracie|    (124)068-9000|
|   561|4210653310794854|             Zion|United States|    BLau@example.com|   1235222|        IL|   60099|    Barbra|       Lau|2018-04-21T12:49:...|    Mitchel|123457464|     Court Street|   Court Street, 561|    mitchel|    (123)522-2000|
|   622|4210653310817373|       Youngstown|United States|EThomson@example.com|   1241363|        OH|   44512|   Edmundo|   Thomson|2018-04-21T12:49:...|      Denny|123457639|    Cypress Court|  Cypress Court, 622|      denny|    (124)136-3000|
|   924|4210653310844617|      Summerville|United States| ETruong@example.com|   1236228|        SC|   29483|      Elsa|    Truong|2018-04-21T12:49:...|   Isabelle|123453242|  8th Street West|8th Street West, 924|   isabelle|    (123)622-8000|
|   611|4210653311015303|           ElPaso|United States|HMckinney@example...|   1238165|        TX|   79930|     Homer|  Mckinney|2018-04-21T12:49:...|      Henry|123454339|      East Avenue|    East Avenue, 611|      henry|    (123)816-5000|
|   680|4210653311215039|           Fenton|United States|   RKidd@example.com|   1234730|        MI|   48430|      Rita|      Kidd|2018-04-21T12:49:...|     Rickey|123454537|         Route 44|       Route 44, 680|     rickey|    (123)473-0000|
|    71|4210653311229354|       Grandville|United States|ABallard@example.com|   1242113|        MI|   49418|    Amalia|   Ballard|2018-04-21T12:49:...|  Heriberto|123452373|    Warren Street|   Warren Street, 71|  heriberto|    (124)211-3000|
|   195|4210653311652836|         YubaCity|United States| PThomas@example.com|   1239888|        CA|   95993|     Patty|    Thomas|2018-04-21T12:49:...|   Angelita|123455343|     Jones Street|   Jones Street, 195|   angelita|    (123)988-8000|
|   500|4210653311707126|        CapeCoral|United States| JMorrow@example.com|   1240158|        FL|   33904|  Josefina|    Morrow|2018-04-21T12:49:...|   Dorothea|123451533|       New Street|     New Street, 500|   dorothea|    (124)015-8000|
|   989|4210653311730764|       Brookfield|United States|NAndrews@example.com|   1241408|        WI|   53045|    Nelson|   Andrews|2018-04-21T12:49:...|  Jefferson|123459278|  Division Street|Division Street, 989|  jefferson|    (124)140-8000|
|   810|4210653311898082|         Richmond|United States|MSchneider@exampl...|   1238390|        VA|   23223|    Miquel| Schneider|2018-04-21T12:49:...|     Maximo|123456915|     Maple Street|   Maple Street, 810|     maximo|    (123)839-0000|
|   649|4210653312021765|      WestChester|United States|PTidwell@example.com|   1235067|        PA|   19380|    Parker|   Tidwell|2018-04-21T12:49:...|    Arnulfo|123453807|       Eagle Road|     Eagle Road, 649|    arnulfo|    (123)506-7000|
|   298|4210653312200846|     NewBaltimore|United States|  BSwift@example.com|   1240001|        MI|   48047|     Basil|     Swift|2018-04-21T12:49:...|     Ramiro|123458078|    George Street|  George Street, 298|     ramiro|    (124)000-1000|
|   761|4210653312241914|         Bethesda|United States|  WLopez@example.com|   1241312|        MD|   20814|    Wilmer|     Lopez|2018-04-21T12:49:...|    Nanette|123459628|   Cottage Street| Cottage Street, 761|    nanette|    (124)131-2000|
|   242|4210653312261759|           Parlin|United States|KHiggins@example.com|   1235511|        NJ|   08859|     Karyn|   Higgins|2018-04-21T12:49:...|   Isabella|123453196|  2nd Street East|2nd Street East, 242|   isabella|    (123)551-1000|
|   133|4210653312346064|         Dearborn|United States| LGaines@example.com|   1237317|        MI|   48124|    Lauren|    Gaines|2018-04-21T12:49:...|      Edith|123456466|      Winding Way|    Winding Way, 133|      edith|    (123)731-7000|
|   147|4210653312454227|           Vienna|United States|    LPoe@example.com|   1240777|        VA|   22180|    Leslie|       Poe|2018-04-21T12:49:...|    Jacklyn|123457402|   Lincoln Street| Lincoln Street, 147|    jacklyn|    (124)077-7000|
|   860|4210653312478046|        Davenport|United States|  MRamey@example.com|   1239863|        IA|   52804|   Maurice|     Ramey|2018-04-21T12:49:...|      Lorna|123455692|     Grant Avenue|   Grant Avenue, 860|      lorna|    (123)986-3000|
|   743|4210653312480040|         Victoria|United States| CIbarra@example.com|   1241909|        TX|   77904|  Courtney|    Ibarra|2018-04-21T12:49:...|     Debora|123451806|      Penn Street|    Penn Street, 743|     debora|    (124)190-9000|
|   644|4210653312528499|        SouthLyon|United States|ISellers@example.com|   1240817|        MI|   48178|      Ines|   Sellers|2018-04-21T12:49:...|      Tomas|123459918|    School Street|  School Street, 644|      tomas|    (124)081-7000|
|   760|4210653312535133|         Torrance|United States| EMurphy@example.com|   1237126|        CA|   90505|     Elden|    Murphy|2018-04-21T12:49:...|   Carolina|123453988|    Madison Court|  Madison Court, 760|   carolina|    (123)712-6000|
|   599|4210653312569486|        NewBerlin|United States|  EGarza@example.com|   1241268|        WI|   53151|    Edison|     Garza|2018-04-21T12:49:...|    Shannon|123457321|       New Street|     New Street, 599|    shannon|    (124)126-8000|
|   147|4210653312588692|          Rowlett|United States|TRichards@example...|   1236077|        TX|   75088|    Tracey|  Richards|2018-04-21T12:49:...|     Austin|123451068|      Durham Road|    Durham Road, 147|     austin|    (123)607-7000|
|   740|4210653312665358|       Bettendorf|United States|BOconnor@example.com|   1236989|        IA|   52722|     Benny|   Oconnor|2018-04-21T12:49:...|     Lorrie|123455295|      Maiden Lane|    Maiden Lane, 740|     lorrie|    (123)698-9000|
|   214|4210653312797359|        Frederick|United States| JRamsey@example.com|   1239774|        MD|   21701| Jeannette|    Ramsey|2018-04-21T12:49:...|       Phil|123458509|   Edgewood Drive| Edgewood Drive, 214|       phil|    (123)977-4000|
|   111|4210653312837854|        Jonesboro|United States|   RHood@example.com|   1236561|        GA|   30236|       Rey|      Hood|2018-04-21T12:49:...|      Britt|123454698|  Riverside Drive|Riverside Drive, 111|      britt|    (123)656-1000|
|   850|4210653312838058|         Paterson|United States| RMcneil@example.com|   1237290|        NJ|   07501|     Reyes|    Mcneil|2018-04-21T12:49:...|    Chasity|123452805|    School Street|  School Street, 850|    chasity|    (123)729-0000|
|   824|4210653312952302|         Torrance|United States|SCoulter@example.com|   1241213|        CA|   90505|     Shari|   Coulter|2018-04-21T12:49:...|    Mildred|123453796|        Fawn Lane|      Fawn Lane, 824|    mildred|    (124)121-3000|
|   475|4210653313003223|     RedondoBeach|United States|EAnthony@example.com|   1240339|        CA|   90278|      Elsa|   Anthony|2018-04-21T12:49:...|        Ted|123459916|  Hillcrest Drive|Hillcrest Drive, 475|        ted|    (124)033-9000|
|   404|4210653313038847|       Grandville|United States|MEmerson@example.com|   1243173|        MI|   49418|   Marcelo|   Emerson|2018-04-21T12:49:...|    Gonzalo|123454933|  Marshall Street|Marshall Street, 404|    gonzalo|    (124)317-3000|
|   413|4210653313070993|           Helena|United States|    KAli@example.com|   1239467|        MT|   59601| Katherine|       Ali|2018-04-21T12:49:...|     Harvey|123453463|    Hamilton Road|  Hamilton Road, 413|     harvey|    (123)946-7000|
|   563|4210653313088465|       Gettysburg|United States|CMcdermott@exampl...|   1240377|        PA|   17325|   Celeste| Mcdermott|2018-04-21T12:49:...|     Andrew|123455975|    Edgewood Road|  Edgewood Road, 563|     andrew|    (124)037-7000|
|   340|4210653313138450|           Chaska|United States|MChapman@example.com|   1236237|        MN|   55318|   Miranda|   Chapman|2018-04-21T12:49:...|     Corina|123452214| Jefferson Street|Jefferson Street,...|     corina|    (123)623-7000|
|   105|4210653313155866|           Helena|United States|EEstrada@example.com|   1239268|        MT|   59601|  Eldridge|   Estrada|2018-04-21T12:49:...|       Oren|123454458| 4th Street South|4th Street South,...|       oren|    (123)926-8000|
|   411|4210653313170152|         Rockaway|United States|     KWu@example.com|   1240334|        NJ|   07866|      Kyle|        Wu|2018-04-21T12:49:...|      Cathy|123455875|    Fairway Drive|  Fairway Drive, 411|      cathy|    (124)033-4000|
|   182|4210653313259504|     RedondoBeach|United States|   BChoi@example.com|   1238212|        CA|   90278| Broderick|      Choi|2018-04-21T12:49:...|    Raleigh|123453014|         Route 29|       Route 29, 182|    raleigh|    (123)821-2000|
|   158|4210653313338885|            Osseo|United States|ACisneros@example...|   1237706|        MN|   55311|     Addie|  Cisneros|2018-04-21T12:49:...|      Scott|123458645| Fieldstone Drive|Fieldstone Drive,...|      scott|    (123)770-6000|
|   618|4210653313592576|       Middleburg|United States|MNicholson@exampl...|   1241801|        FL|   32068|   Merrill| Nicholson|2018-04-21T12:49:...|     Santos|123455038|   Woodland Drive| Woodland Drive, 618|     santos|    (124)180-1000|
|   610|4210653313622611|    Mechanicsburg|United States|JValenzuela@examp...|   1239079|        PA|   17050| Johnathon|Valenzuela|2018-04-21T12:49:...|   Jennifer|123458633|  Briarwood Court|Briarwood Court, 610|   jennifer|    (123)907-9000|
|   472|4210653313825914|  NewPhiladelphia|United States|  JMoody@example.com|   1235080|        OH|   44663|    Jasmin|     Moody|2018-04-21T12:49:...|    Rosario|123459909|     Grant Street|   Grant Street, 472|    rosario|    (123)508-0000|
|   448|4210653313922436|           Racine|United States| BGalvan@example.com|   1242974|        WI|   53402|     Bette|    Galvan|2018-04-21T12:49:...|     Leonor|123458342|  Columbia Street|Columbia Street, 448|     leonor|    (124)297-4000|
|   605|4210653313938481|         Bethesda|United States|JHampton@example.com|   1238964|        MD|   20814|    Joanne|   Hampton|2018-04-21T12:49:...|   Laurence|123454006|       3rd Street|     3rd Street, 605|   laurence|    (123)896-4000|
|    84|4210653314009556|          Trenton|United States|  DParks@example.com|   1235784|        NJ|   08610|     Daryl|     Parks|2018-04-21T12:49:...|       Erin|123451071|     Broad Street|    Broad Street, 84|       erin|    (123)578-4000|
|    44|4210653314024981|     Simpsonville|United States|   TMetz@example.com|   1242024|        SC|   29680|       Ted|      Metz|2018-04-21T12:49:...|      Brain|123455726|    Myrtle Avenue|   Myrtle Avenue, 44|      brain|    (124)202-4000|
|   471|4210653314044121|          Conyers|United States| TSharpe@example.com|   1236528|        GA|   30012|     Titus|    Sharpe|2018-04-21T12:49:...|     Antone|123453966|      Lake Avenue|    Lake Avenue, 471|     antone|    (123)652-8000|
|   398|4210653314209155|         PalmCity|United States|   BYork@example.com|   1235377|        FL|   34990|    Bertie|      York|2018-04-21T12:49:...|   Mercedes|123452454|       Eagle Road|     Eagle Road, 398|   mercedes|    (123)537-7000|
|   791|4210653314345212|SouthRichmondHill|United States|NEscobar@example.com|   1238055|        NY|   11419|     Nigel|   Escobar|2018-04-21T12:49:...|       Aida|123457640|    School Street|  School Street, 791|       aida|    (123)805-5000|
|   833|4210653314449645|        Pittsford|United States|CPhillips@example...|   1234648|        NY|   14534|  Cristina|  Phillips|2018-04-21T12:49:...|    Beatriz|123454917|Westminster Drive|Westminster Drive...|    beatriz|    (123)464-8000|
|   501|4210653314629341|       Reidsville|United States|ADougherty@exampl...|   1238759|        NC|   27320|      Alex| Dougherty|2018-04-21T12:49:...|       Jame|123456436|  Crescent Street|Crescent Street, 501|       jame|    (123)875-9000|
|   847|4210653314812374|            Osseo|United States|   LDiaz@example.com|   1241214|        MN|   55311|     Lorna|      Diaz|2018-04-21T12:49:...|      Aimee|123451995| Lafayette Street|Lafayette Street,...|      aimee|    (124)121-4000|
|   249|4210653314932835|        SiouxCity|United States| PGaines@example.com|   1238426|        IA|   51106|     Pearl|    Gaines|2018-04-21T12:49:...|     Marion|123457910|      Aspen Court|    Aspen Court, 249|     marion|    (123)842-6000|
|   235|4210653314938984|     Kernersville|United States|RKennedy@example.com|   1240490|        NC|   27284| Rigoberto|   Kennedy|2018-04-21T12:49:...|    Annette|123451152|    Laurel Street|  Laurel Street, 235|    annette|    (124)049-0000|
|   936|4210653314968535|           Apopka|United States|  KNeely@example.com|   1235742|        FL|   32703|     Kayla|     Neely|2018-04-21T12:49:...|     Dionne|123456143|          Route 4|        Route 4, 936|     dionne|    (123)574-2000|
|   953|4210653315077043|           Racine|United States|    JLaw@example.com|   1238023|        WI|   53402|   Jasmine|       Law|2018-04-21T12:49:...|     Doreen|123456538|    Poplar Street|  Poplar Street, 953|     doreen|    (123)802-3000|
|   811|4210653315118577|       Greenville|United States|FMccarty@example.com|   1242721|        NC|   27834|    Freddy|   Mccarty|2018-04-21T12:49:...|    Thurman|123459532|     Jones Street|   Jones Street, 811|    thurman|    (124)272-1000|
|   757|4210653315377872|            Osseo|United States|CHilliard@example...|   1236666|        MN|   55311|    Calvin|  Hilliard|2018-04-21T12:49:...|     Angelo|123454003|    Parker Street|  Parker Street, 757|     angelo|    (123)666-6000|
|   888|4210653315430155|         Marietta|United States|AMitchell@example...|   1236567|        GA|   30008|   Aurelia|  Mitchell|2018-04-21T12:49:...|    Leonard|123451818|    Dogwood Drive|  Dogwood Drive, 888|    leonard|    (123)656-7000|
|   627|4210653315439830|         Richmond|United States|  DBoyer@example.com|   1237087|        VA|   23223|    Dionne|     Boyer|2018-04-21T12:49:...|    Refugio|123457867|   Orchard Street| Orchard Street, 627|    refugio|    (123)708-7000|
|   635|4210653315516879|        Pittsford|United States|LBritton@example.com|   1234689|        NY|   14534|     Lucio|   Britton|2018-04-21T12:49:...|      Bette|123459968|   Central Avenue| Central Avenue, 635|      bette|    (123)468-9000|
|   660|4210653315537073|       Middleburg|United States|MWoodard@example.com|   1235632|        FL|   32068|  Mercedes|   Woodard|2018-04-21T12:49:...|    Coleman|123451454|    Bridge Street|  Bridge Street, 660|    coleman|    (123)563-2000|
|   265|4210653315577947|       FloralPark|United States| AParker@example.com|   1235625|        NY|   11001|     Alyce|    Parker|2018-04-21T12:49:...|     Alissa|123459940|    Summer Street|  Summer Street, 265|     alissa|    (123)562-5000|
|   698|4210653315669217|        Pittsford|United States|FMckinley@example...|   1241925|        NY|   14534|   Felicia|  Mckinley|2018-04-21T12:49:...|        May|123455734|Washington Street|Washington Street...|        may|    (124)192-5000|
|   417|4210653315752398|         Wilmette|United States|FMeredith@example...|   1236886|        IL|   60091|   Francis|  Meredith|2018-04-21T12:49:...|    Donnell|123455638|   Lincoln Street| Lincoln Street, 417|    donnell|    (123)688-6000|
|   414|4210653315806331|       Loganville|United States|    JAli@example.com|   1241596|        GA|   30052|   Jasmine|       Ali|2018-04-21T12:49:...|     Manual|123452555|  Hamilton Street|Hamilton Street, 414|     manual|    (124)159-6000|
|   177|4210653315863825|         Rockaway|United States|TRaymond@example.com|   1237046|        NJ|   07866|      Tony|   Raymond|2018-04-21T12:49:...|     Millie|123459155|     Pearl Street|   Pearl Street, 177|     millie|    (123)704-6000|
|   697|4210653315888773|     RedondoBeach|United States| LWhalen@example.com|   1241870|        CA|   90278|    Lillie|    Whalen|2018-04-21T12:49:...|     Deanne|123457454|    Myrtle Street|  Myrtle Street, 697|     deanne|    (124)187-0000|
|   701|4210653316211933|          Andover|United States|  JStone@example.com|   1237809|        MA|   01810|   Janelle|     Stone|2018-04-21T12:49:...|    Claudia|123453191|  Virginia Street|Virginia Street, 701|    claudia|    (123)780-9000|
|   122|4210653316373749|       Starkville|United States|COconnor@example.com|   1235055|        MS|   39759|    Cherry|   Oconnor|2018-04-21T12:49:...|    Rodrick|123457655|     Jones Street|   Jones Street, 122|    rodrick|    (123)505-5000|
|   496|4210653316379921|          Taunton|United States| JGolden@example.com|   1240126|        MA|   02780| Jeannette|    Golden|2018-04-21T12:49:...|       Alan|123458966| Hillcrest Avenue|Hillcrest Avenue,...|       alan|    (124)012-6000|
|   662|4210653316451779|     Hillsborough|United States| PKelley@example.com|   1242953|        NJ|   08844|    Palmer|    Kelley|2018-04-21T12:49:...|        Lee|123457778|       2nd Avenue|     2nd Avenue, 662|        lee|    (124)295-3000|

In [6]:
cc_df = spark.read.json('Credit Card Dataset\cdw_sapp_credit.json')

cc_df.printSchema()
cc_df.createOrReplaceTempView('CDW_SAPP_CREDIT_CARD')
date = spark.sql('SELECT *, CONCAT(DAY,"-",MONTH,"-",YEAR) AS DAY_MONTH_YEAR FROM CDW_SAPP_CREDIT_CARD')
#date.show()
updated_cc_df = date.select('CREDIT_CARD_NO','DAY_MONTH_YEAR','CUST_SSN','BRANCH_CODE','TRANSACTION_TYPE','TRANSACTION_VALUE','TRANSACTION_ID')
updated_cc_df.printSchema()
updated_cc_df.show()
type(updated_cc_df)

root
 |-- BRANCH_CODE: long (nullable = true)
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- CUST_SSN: long (nullable = true)
 |-- DAY: long (nullable = true)
 |-- MONTH: long (nullable = true)
 |-- TRANSACTION_ID: long (nullable = true)
 |-- TRANSACTION_TYPE: string (nullable = true)
 |-- TRANSACTION_VALUE: double (nullable = true)
 |-- YEAR: long (nullable = true)

root
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- DAY_MONTH_YEAR: string (nullable = true)
 |-- CUST_SSN: long (nullable = true)
 |-- BRANCH_CODE: long (nullable = true)
 |-- TRANSACTION_TYPE: string (nullable = true)
 |-- TRANSACTION_VALUE: double (nullable = true)
 |-- TRANSACTION_ID: long (nullable = true)

+----------------+--------------+---------+-----------+----------------+-----------------+--------------+
|  CREDIT_CARD_NO|DAY_MONTH_YEAR| CUST_SSN|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|
+----------------+--------------+---------+-----------+----------------+-----------------+--------------+
|4210653349028689|     14-2-2018|123459988|        114|       Education|             78.9|             1|
|4210653349028689|     20-3-2018|123459988|         35|   Entertainment|            14.24|             2|
|4210653349028689|      8-7-2018|123459988|        160|         Grocery|             56.7|             3|
|4210653349028689|     19-4-2018|123459988|        114|   Entertainment|            59.73|             4|
|4210653349028689|    10-10-2018|123459988|         93|             Gas|             3.59|             5|
|4210653349028689|     28-5-2018|123459988|        164|       Education|             6.89|             6|
|4210653349028689|     19-5-2018|123459988|        119|   Entertainment|            43.39|             7|
|4210653349028689|      8-8-2018|123459988|         23|             Gas|            95.39|             8|
|4210653349028689|     18-3-2018|123459988|        166|   Entertainment|            93.26|             9|
|4210653349028689|      3-9-2018|123459988|         83|           Bills|           100.38|            10|
|4210653349028689|     21-8-2018|123459988|         52|             Gas|            98.75|            11|
|4210653349028689|    24-12-2018|123459988|         17|             Gas|            42.71|            12|
|4210653349028689|      3-4-2018|123459988|         80|         Grocery|            40.24|            13|
|4210653349028689|     15-4-2018|123459988|         50|           Bills|            17.81|            14|
|4210653349028689|     17-5-2018|123459988|        123|           Bills|             29.0|            15|
|4210653349028689|      6-7-2018|123459988|          9|            Test|            70.63|            16|
|4210653349028689|     28-9-2018|123459988|          3|            Test|            27.04|            17|
|4210653349028689|      4-7-2018|123459988|        135|   Entertainment|            88.75|            18|
|4210653349028689|     24-4-2018|123459988|        103|            Test|            77.02|            19|
|4210653349028689|     8-10-2018|123459988|         78|           Bills|            34.34|            20|
+----------------+--------------+---------+-----------+----------------+-----------------+--------------+
only showing top 20 rows

pyspark.sql.dataframe.DataFrame

In [8]:

branch_df = spark.read.json('Credit Card Dataset\cdw_sapp_branch.json')
branch_df.createOrReplaceTempView('CDW_SAPP_BRANCH')


spark.sql('select *, concat("(", substring(CDW_SAPP_BRANCH.BRANCH_PHONE, 1, 3), ")",\
               substring(CDW_SAPP_BRANCH.BRANCH_PHONE, 4, 3), "-",\
               substring(CDW_SAPP_BRANCH.BRANCH_PHONE, 7, 4)) AS FORMATTED_BRANCH_PHONE,\
        CASE WHEN CDW_SAPP_BRANCH.BRANCH_ZIP IS NULL THEN "99999" ELSE CDW_SAPP_BRANCH.BRANCH_ZIP END AS BRANCH_ZIP \
        from CDW_SAPP_BRANCH').show()

branch_df.printSchema()

+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+----------------------+----------+
|      BRANCH_CITY|BRANCH_CODE| BRANCH_NAME|BRANCH_PHONE|BRANCH_STATE|      BRANCH_STREET|BRANCH_ZIP|        LAST_UPDATED|FORMATTED_BRANCH_PHONE|BRANCH_ZIP|
+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+----------------------+----------+
|        Lakeville|          1|Example Bank|  1234565276|          MN|       Bridle Court|     55044|2018-04-18T16:51:...|         (123)456-5276|     55044|
|          Huntley|          2|Example Bank|  1234618993|          IL|  Washington Street|     60142|2018-04-18T16:51:...|         (123)461-8993|     60142|
|SouthRichmondHill|          3|Example Bank|  1234985926|          NY|      Warren Street|     11419|2018-04-18T16:51:...|         (123)498-5926|     11419|
|       Middleburg|          4|Example Bank|  1234663064|          FL|   Cleveland Street|     32068|2018-04-18T16:51:...|         (123)466-3064|     32068|
|    KingOfPrussia|          5|Example Bank|  1234849701|          PA|        14th Street|     19406|2018-04-18T16:51:...|         (123)484-9701|     19406|
|         Paterson|          7|Example Bank|  1234144890|          NJ|   Jefferson Street|      7501|2018-04-18T16:51:...|         (123)414-4890|      7501|
|        Pittsford|          8|Example Bank|  1234678272|          NY|           B Street|     14534|2018-04-18T16:51:...|         (123)467-8272|     14534|
|     Wethersfield|          9|Example Bank|  1234675219|          CT|    Jefferson Court|      6109|2018-04-18T16:51:...|         (123)467-5219|      6109|
|     NorthOlmsted|         10|Example Bank|  1234145047|          OH|     Cambridge Road|     44070|2018-04-18T16:51:...|         (123)414-5047|     44070|
|     Hillsborough|         11|Example Bank|  1234366354|          NJ|    3rd Street West|      8844|2018-04-18T16:51:...|         (123)436-6354|      8844|
|   MadisonHeights|         12|Example Bank|  1234867175|          MI|          Mill Road|     48071|2018-04-18T16:51:...|         (123)486-7175|     48071|
|           Oviedo|         14|Example Bank|  1234938460|          FL|  Washington Street|     32765|2018-04-18T16:51:...|         (123)493-8460|     32765|
|    Mechanicsburg|         15|Example Bank|  1234462043|          PA|    Chestnut Street|     17050|2018-04-18T16:51:...|         (123)446-2043|     17050|
|        Plainview|         16|Example Bank|  1234857525|          NY|       Monroe Drive|     11803|2018-04-18T16:51:...|         (123)485-7525|     11803|
|          Paducah|         17|Example Bank|  1234546360|          KY|    Railroad Street|     42001|2018-04-18T16:51:...|         (123)454-6360|     42001|
|     Harleysville|         18|Example Bank|  1234824455|          PA|Church Street South|     19438|2018-04-18T16:51:...|         (123)482-4455|     19438|
|     SilverSpring|         19|Example Bank|  1234484380|          MD|        King Street|     20901|2018-04-18T16:51:...|         (123)448-4380|     20901|
|       Burnsville|         20|Example Bank|  1234840138|          MN|   Canterbury Drive|     55337|2018-04-18T16:51:...|         (123)484-0138|     55337|
|           Tacoma|         21|Example Bank|  1234362433|          WA|         2nd Avenue|     98444|2018-04-18T16:51:...|         (123)436-2433|     98444|
|         Carlisle|         22|Example Bank|  1234922492|          PA| Front Street South|     17013|2018-04-18T16:51:...|         (123)492-2492|     17013|
+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+----------------------+----------+
only showing top 20 rows

root
 |-- BRANCH_CITY: string (nullable = true)
 |-- BRANCH_CODE: long (nullable = true)
 |-- BRANCH_NAME: string (nullable = true)
 |-- BRANCH_PHONE: string (nullable = true)
 |-- BRANCH_STATE: string (nullable = true)
 |-- BRANCH_STREET: string (nullable = true)
 |-- BRANCH_ZIP: long (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)

In [9]:
cust_df.write.format("jdbc") \
.mode("overwrite") \
.option("url", "jdbc:mysql://localhost:3306/creditcard_capstone") \
.option("dbtable", "creditcard_capstone.CDW_SAPP_CUSTOMER") \
.option("user", "root") \
.option("password", "password") \
.save()

In [22]:
branch_df.write.format("jdbc") \
.mode("append") \
.option("url", "jdbc:mysql://localhost:3306/creditcard_capstone") \
.option("dbtable", "creditcard_capstone.CDW_SAPP_BRANCH") \
.option("user", "root") \
.option("password", "password") \
.save()

In [10]:
cc_df.write.format("jdbc") \
.mode("overwrite") \
.option("url", "jdbc:mysql://localhost:3306/creditcard_capstone") \
.option("dbtable", "creditcard_capstone.CDW_SAPP_CREDIT_CARD") \
.option("user", "root") \
.option("password", "password") \
.save()

In [56]:
spark.stop()